
<ion-view hide-nav-bar="true" title="Login">
    <ion-content padding="true">
    <div class="row">
        <center class="col logo">
            <img src="./img/logo.png" class="hatch">
        </center>
    </div>
    <div class="row responsive-md">    
        <form class="col col-50 col-offset-25">
            
                <ion-md-input placeholder="Identifiant" type="text"></ion-md-input>
                <ion-md-input placeholder="Mot de passe" type="password"></ion-md-input>

           
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/app/categories"  class="button button-calm button-block"><b>Connexion</b></a>
            <!-- <a href="#" class="button button-positive button-clear button-block">Or create an account</a> -->
        </form>
    </div>
    </ion-content>
</ion-view>
