<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <img src="./img/logo.ico" style="height: 35px;"alt="">
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="(min-width:770px)">
    
    <ion-content >
      <ion-list>
        <ion-item class="item item-avatar menu-header" href="#">
              <img src="./img/persons/Steven_Wells.jpg">
              <h2>Prénom NOM</h2>
              <p>Editer mon profil</p>
        </ion-item>
        
        <div class="item item-divider">
            Accueil
        </div>
        <ion-item nav-clear menu-close class="item-icon-left" ng-click='showParam()' href="#/app/products">
        <i class="icon ion-ios-home"></i>
          Produits
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" ng-click='ShowParam()' href="#/app/clients">
        <i class="icon ion-ios-people"></i>
          Clients
        </ion-item>
        <span ng-if="menu">
        <div class="item item-divider">
            {{currentEquipement.name}}
        </div>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/theorie-formation/{{urlId}}">
        <i class="icon ion-ios-book-outline"></i>
          Théorie et Formations
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/installation-mise-en-service/{{urlId}}">
        <i class="icon ion-settings"></i>
          Installation et Mise en service
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/aide-diagnostic/{{urlId}}">
        <i class="icon ion-ios-pulse-strong"></i>
          Aide au diagnostic
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/pieces-accessoires/{{urlId}}">
        <i class="icon ion-ios-cog-outline"></i>
          Pièces et Accessoires
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/carnet-entretien/{{urlId}}">
        <i class="icon ion-clipboard"></i>
          Carnet d'entretien
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/utilisation/{{urlId}}">
        <i class="icon ion-arrow-right-b"></i>
          Utilisation
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/contact-services/{{urlId}}">
        <i class="icon ion-android-contacts"></i>
          Contacts et Services
        </ion-item>
        </span>
        <div class="item item-divider">
            Application
        </div>
        <ion-item nav-clear menu-close class="item-icon-left" ng-click="showParam()" href="#/app/parametres">
        <i class="icon ion-android-options"></i>
          Paramètres
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" ng-click='hideMenu()' href="#/">
        <i class="icon ion-power"></i>
          Déconnexion
        </ion-item>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
